body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text color */
}

#container {
  width: 300px; /* Reduced width for the container */
  text-align: center;
  background: #1e1e1e; /* Slightly lighter dark background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#ipv4, #ipv6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px; /* Add padding for distinction */
  border-radius: 4px;
}

#ipv4 {
  background-color: #2a2a2a;
}

#ipv6 {
    background-color: #2a2a2a; 
}

button {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent; /* Transparent background */
  color: #e0e0e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s;
}

button:hover {
  color: #007bff; /* Highlight color on hover */
}

button img {
  width: 16px;
  height: 16px;
  margin-left: 5px; /* Space between text and icon */
  fill: currentColor; /* Match icon color to text color */
}

button:active {
  background-color: #4b0faab9;
}